body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-size: 62.5%;
  overflow: hidden;
}

// imports
@import url(./reset.scss);
@import url(./components/form.scss);
@import url(./components/chat-room.scss);
@import url(./components/message-form.scss);
@import url(./components/chat-message.scss);
@import url(./components/user-info.scss);
@import url(./components/form-input.scss);
@import url(./components/form-button.scss);
@import url(./components/auth-container.scss);
@import url(./components/auth-heading.scss);

// Chat heading component
.chat-heading {
  font-size: 20px;
  color: wheat;

  .highlight {
    color: rgb(228, 149, 4);
  }
}

// Sign-in-button
.sign-in-button {
  width: 100%;
  background: #000;
  color: white;
  border: none;
  border-radius: 3px;
  margin: 0.4em 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }

  i {
    margin: 0 5px;
  }
}

// register note
.register-note {
  margin: 5px 0;
  font-size: 0.8rem;

  &__link {
    text-decoration: none;
    color: rgb(253, 235, 151);
    font-style: italic;
    font-size: 0.9rem;
    margin: 0 10px;
    transition: all 0.3s;

    &:hover {
      color: gold;
      text-decoration: underline;
    }
  }
}

// sign-out-button
.sign-out-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 130px;
  font-size: 1.1rem;
  background: none;
  border: 1px solid wheat;
  color: wheat;
  cursor: pointer;
}

// error
.error {
  display: block;
  width: 100%;
  color: red;
  font-size: 0.7rem;
  line-height: normal;
}

.error--sign-in {
	position: absolute;
  text-align: center;
  top: -20px;
}

.error--sign-up {
	position: absolute;
  bottom: -13px;
  text-align: left;
}